.banner-slider {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 15px;
    scrollbar-width: none;
    /* Firefox */
}

.banner-slider::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.banner-track {
    display: flex;
    gap: 20px;
}

.banner-item {
    flex: 0 0 auto;
    width: 280px;
    height: 120px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.banner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}