.profile-header {
    flex: 1;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
}

.profile-info p {
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-info h2 {
    font-size: 32px;
    font-weight: 700;
}