.history-section {
    margin-top: 30px;
}

.history-section h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.history-card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-main h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.amt-success {
    color: var(--success-color);
}

.amt-error {
    color: var(--primary-color);
}

.history-desc {
    font-size: 12px;
    color: var(--gray-color);
}

.history-date {
    font-size: 12px;
    color: var(--gray-color);
}

.show-more {
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 40px;
}

.no-history {
    text-align: center;
    color: var(--gray-color);
    padding: 40px;
}