.payment-section {
    margin-top: 30px;
}

.payment-section p {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.service-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.service-info img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.service-info h3 {
    font-size: 24px;
    font-weight: 700;
}

.payment-form {
    max-width: 100%;
}

.payment-form .input-with-icon {
    margin-bottom: 25px;
}

.payment-form input {
    font-weight: 600;
    background-color: #f8f8f8;
}